*{
    font-family: 'Poppins', sans-serif;
}
h1{
    margin-top: 5%;
    font-weight: bold;
}

.modal-open {
    animation-name: zoomIn;
    animation-duration: 0.6s;
}
    
@keyframes zoomIn {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}
    
.modal-close {
    animation-name: zoomOut;
    animation-duration: 0.6s;
}
    
@keyframes zoomOut {
    from {
        transform: scale(1)
    }
    to {
        transform: scale(0)
    }
}